{% extends 'layout/dash.html' %}
{% load static %}
{% load crispy_forms_tags %}




{% block body %}
        <script src="https://www.paypal.com/sdk/js?client-id=AeUnAGUmj8O9J96ktqS9ufoTs9j5BxZYZIxcu40D0NDrdh9FEjsyW_0gWD58yD_My4GudN8dkq3ScG9a&vault=true&intent=subscription">

        </script>
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Account Settings /</span> Billing</h4>

              <div class="row">
                <div class="col-md-12">
                  <ul class="nav nav-pills flex-column flex-md-row mb-3">
                    <li class="nav-item">
                      <a class="nav-link " href="{% url 'profile' %}"><i class="bx bx-user me-1"></i> Account</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="javascript:void(0);" ><i class="bx bx-credit-card me-1"></i> Billing</a>
                    </li>
                    <li hidden class="nav-item">
                      <a class="nav-link " href="{% url 'payment-plans' %}" ><i class="bx bx-purchase-tag me-1"></i> Pricing Plans</a>
                    </li>
                  </ul>

                  <div class="card">
                    <h5 class="card-header">Billing</h5>
                    <div class="card-body">
                      <div class="mb-3 col-12 mb-0">

                      {% if user.profile.subscription_type == 'free' %}
                        <div class="alert alert-warning">
                          <h6 class="alert-heading fw-bold mb-1">You are currently on the FREE tier!</h6>
                          <p class="mb-0">You can cancel this subscription at any time. If you enjoy creating with us,
                            you can upgrade to the STARTER tier and get up to 40 000 words created per month.</p>
                        </div>
                        <h5 class="card-header">Availabe Subscription Plans</h5>
                        <div class="row">
                          <div class="col-md-6 col-lg-4 mb-3">
                            <div class="card text-center alert alert-info">
                              <div class="card-header">Initiator</div>
                              <div class="card-body">
                                <h5 class="card-title">R99.99 per month</h5>
                                <p class="card-text">Generate 40 000* Words</p>
                                <a href="{% url 'process-starter-plan' %}" type="button" class="btn btn-info">
                                  <span class="tf-icons bx bx-money-withdraw"></span>&nbsp; Subscribe
                                </a>
                              </div>
                              <div hidden class="card-footer text-muted">Pay with PayFast</div>
                            </div>
                          </div>

                          <div class="col-md-6 col-lg-4 mb-3">
                            <div class="card text-center alert alert-success">
                              <div class="card-header">Teams</div>
                              <div class="card-body">
                                <h5 class="card-title">R199.99 per month</h5>
                                <p class="card-text">Generate UNLIMITED Words</p>
                                <a href="#" type="button" class="btn btn-success">
                                  <span class="tf-icons bx bx-money-withdraw"></span>&nbsp; Subscribe
                                </a>
                              </div>
                              <div hidden class="card-footer text-muted">Pay with PayFast</div>
                            </div>
                          </div>
                        </div>
                        
                        <!-- <div id="paypal-button-container1"></div> -->

                      {% elif user.profile.subscription_type == 'starter' %}
                        <div class="alert alert-info">
                          <h6 class="alert-heading fw-bold mb-1">You are currently on the STARTER tier!</h6>
                          <p class="mb-0">You can cancel this subscription at any time. If you enjoy creating with us,
                            you can upgrade to the PROFESSIONAL tier and get UNLIMITED words created per month.</p>
                        </div>
                        <h5 class="card-header">Availabe Subscription Plans</h5>
                        <div class="row">

                          <div class="col-md-6 col-lg-4 mb-3">
                            <div class="card text-center alert alert-success">
                              <div class="card-header">Teams</div>
                              <div class="card-body">
                                <h5 class="card-title">R199.99 per month</h5>
                                <p class="card-text">Generate UNLIMITED Words</p>
                                <a href="#" type="button" class="btn btn-success">
                                  <span class="tf-icons bx bx-money-withdraw"></span>&nbsp; Subscribe
                                </a>
                              </div>
                              <div hidden class="card-footer text-muted">Pay with PayFast</div>
                            </div>
                          </div>
                        </div>
                      {% elif user.profile.subscription_type == 'professional' %}
                        <div class="alert alert-success">
                          <h6 class="alert-heading fw-bold mb-1">You are currently on the PROFESSIONAL tier!</h6>
                          <p class="mb-0">You can cancel this subscription at any time. If you enjoy creating with us,
                            you get UNLIMITED words created per month.</p>
                        </div>
                      {% else %}
                        <div class="alert alert-danger">
                          <h6 class="alert-heading fw-bold mb-1">Something went wrong!</h6>
                          <p class="mb-0">Please contact our support team for assistance.</p>
                        </div>
                      {% endif %}

                      </div>


                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- / Content -->

{% endblock %}
