{% extends 'layout/dash.html' %}
{% load static %}
{% load crispy_forms_tags %}




{% block body %}
        <script src="https://www.paypal.com/sdk/js?client-id=AeUnAGUmj8O9J96ktqS9ufoTs9j5BxZYZIxcu40D0NDrdh9FEjsyW_0gWD58yD_My4GudN8dkq3ScG9a&vault=true&intent=subscription">

        </script>
            <!-- Content -->

            <div class="container-xxl flex-grow-1 container-p-y">
              <h4 class="fw-bold py-3 mb-4"><span class="text-muted fw-light">Account Settings /</span> Billing</h4>

              <div class="row">
                <div class="col-md-12">
                  <ul class="nav nav-pills flex-column flex-md-row mb-3">
                    <li class="nav-item">
                      <a class="nav-link " href="{% url 'profile' %}"><i class="bx bx-user me-1"></i> Account</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link " href="{% url 'billing' %}" ><i class="bx bx-credit-card me-1"></i> Billing</a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link active" href="javascript:void(0);" ><i class="bx bx-purchase-tag me-1"></i> Pricing Plans</a>
                    </li>
                  </ul>

                  <div class="card">
                    <h5 class="card-header">Packages</h5>
                    <div class="card-body">
                      <div class="mb-3 col-12 mb-0">

                        <div class="row mb-5">
                          <div class="col-md-6 col-lg-4 mb-3">
                            <div class="card text-center alert alert-info">
                              <div class="card-header">Initiator</div>
                              <div class="card-body">
                                <h5 class="card-title">$9 per month</h5>
                                <p class="card-text">Generate 40 000* Words</p>
                                <form action="https://sandbox.payfast.co.za/eng/process" method="post">
                                  <input type="hidden" name="merchant_id" value="10024789">
                                  <input type="hidden" name="merchant_key" value="dtz5khr0cbz74">

                                  <input type="hidden" name="m_payment_id" value="01AB">
                                  <input type="hidden" name="amount" value="9.00">
                                  <input type="hidden" name="item_name" value="Initiator">

                                  <!-- customer -->
                                  <input type="hidden" name="name_first" value="{{user.first_name}}">
                                  <input type="hidden" name="name_last" value="{{user.last_name}}">
                                  <input type="hidden" name="email_address" value="{{user.email}}">
                                  <!-- <input type="hidden" name="cell_number" value=""> -->

                                  <input type="hidden" name="return_url" value="{% url 'payfast-payment-success' %}">
                                  <input type="hidden" name="cancel_url" value="{% url 'payfast-payment-cancel' %}">
                                  <input type="hidden" name="notify_url" value="{% url 'payfast-payment-notify' %}">
                                  <input type="submit" class="btn btn-info" value="Subscribe">
 
                               </form>
                              </div>
                              <div class="card-footer text-muted">Pay with PayFast</div>
                            </div>
                          </div>

                          <div class="col-md-6 col-lg-4 mb-3">
                            <div class="card text-center alert alert-success">
                              <div class="card-header">Teams</div>
                              <div class="card-body ">
                                <h5 class="card-title">$19 per month</h5>
                                <p class="card-text">Generate UNLIMITED* Words</p>
                                <form action="https://sandbox.payfast.co.za/eng/process" method="post">
                                  <input type="hidden" name="merchant_id" value="10024789">
                                  <input type="hidden" name="merchant_key" value="dtz5khr0cbz74">
                                  <input type="hidden" name="amount" value="19.00">
                                  <input type="hidden" name="item_name" value="Teams">
                                  <input type="submit" class="btn btn-success" value="Subscribe">
                               </form>
                              </div>
                              <div class="card-footer text-muted">Pay with PayFast</div>
                            </div>
                          </div>

                      </div>


                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- / Content -->

{% endblock %}

{% block js %}
<script src="{% static 'dash/js/pages/billing.js' %}"></script>
{% endblock %}
