{% autoescape off %}
Hi, User

You have been added to join {{ user_team }} on {{ domain }}, pease use these login details to access your account;
{{ protocol }}://{{ domain }}{% url 'login' %}
Email: {{ email }}
Password: {{ password }}

Please click on the link below to confirm your registration and activate your account:

<a href="{{ protocol }}://{{ domain }}{% url 'activate' uidb64=uid token=token %}">{{ protocol }}://{{ domain }}{% url 'activate' uidb64=uid token=token %}</a>
{% endautoescape %}