{% extends 'layout/auth-new.html' %}
{% load static %}


{% block body %}

<div class="col-lg-6">
  <div class="login-page-left h-100" style="background-image: url('{% static 'auth/img/left-bg.jpg' %}');">
    <div class="row">
      <div class="col-10 col-lg-9 mx-auto">
        <div class="logo mb-10">
          <a href="{% url 'login' %}">
            <img src="{% static 'dash/img/logo/writesome-ai-logo-dark.png' %}" style="width:50%;" alt="Logo">
          </a>
        </div>
        {% comment %} <h3></h3>
        <p class="mt-5">Enter the email address which is associated with your account. We will send you a link.</p> {% endcomment %}
      </div>
    </div>
  </div>
</div>

<div class="col-lg-6 align-self-center">
  <div class="login-register-section">
    <div class="row">
      <div class="col-12 col-sm-10 col-xl-8 col-lg-10 mx-auto">
        <h2>Request Reset 👋</h2>
        {% comment %} <div class="google-btn mb-20">
          <a href="#"><i class="bi bi-google"></i>  Sign up with Google</a>
        </div> {% endcomment %}
        <div class="text-center">
          
          {% for message in messages %}
          <div class="alert alert-{{ message.tags }}" role="alert">
            <strong>{{ message }}</strong>
          </div>
          {% endfor %}

          {% comment %} <span class="or-text">or</span> {% endcomment %}
        </div>
        <form action="#" method="POST" autocomplete="off">
          {% csrf_token %}
          {% for field in form %}
            
            <div class="single-input">{{ field.label_tag }}{{ field }}</div>
            {% if field.errors %}
              <small>{{ field.errors|striptags }}</small>
            {% endif %}
          {% endfor %}
          <button type="submit" class="button-1">Send Reset Link</button>
        </form>
        <div class="login-register-from-btom text-center mt-15">
          <p>Go back to <a href="{% url 'login' %}">Login</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
