{% extends 'layout/auth.html' %}
{% load static %}


{% block body %}
              <!-- /Logo -->
            <div class="card-body">
              <h4 class="mb-2">Forgot Password? 🔒</h4>
              <p class="mb-4">Enter your email and we'll send you instructions to reset your password</p>
              <form  class="mb-3"  method="POST">
                {% csrf_token %}
                {% for field in form %}
                  {{ field.label_tag }}
                  <div class="form-group">{{ field }}</div>
                  {% if field.errors %}
                    <small>{{ field.errors|striptags }}</small>
                  {% endif %}
                {% endfor %}
                
                <div class="form-footer">
                  <button type="submit" class="btn btn-primary d-grid w-100">Send Reset Link</button>
                </div>
              </form>
              <div class="text-center">
                <a href="{% url 'login' %}" class="d-flex align-items-center justify-content-center text-primary">
                  <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
                  Back to login
                </a>
              </div>
            </div>
{% endblock %}
