{% extends 'layout/auth.html' %}
{% load static %}


{% block body %}
<!-- /Logo -->
            <div class="col-lg-6">
              <div class="login-page-left h-100" style="background-image: url('{% static 'auth/img/left-bg.jpg' %}');">
                <div class="row">
                  <div class="col-10 col-lg-9 mx-auto">
                    <div class="logo mb-10 text-center">
                      <a href="{% url 'login' %}">
                        <img src="{% static 'dash/img/logo/writesome-ai-logo-dark.png' %}" style="width:50%;" alt="Logo">
                      </a>
                    </div>
                    
                    {% comment %} <p class="text-center">A product by <a href="https://ukuyila.com">Ukuyila (Pty) Ltd</a></p> {% endcomment %}
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-6 align-self-center">
              <div class="login-register-section">
                <div class="row">
                  <div class="col-12 col-sm-10 col-xl-8 col-lg-10 mx-auto">
                    <h2>Welcome back! 👋</h2>
                    {% comment %} <div class="google-btn mb-20">
                      <a href="#"><i class="bi bi-google"></i>  Sign up with Google</a>
                    </div> {% endcomment %}
                    <div class="text-center">
                      
                      {% for message in messages %}
                      <div class="alert alert-{{ message.tags }}" role="alert">
                        <strong>{{ message }}</strong>
                      </div>
                      {% endfor %}

                      {% comment %} <span class="or-text">or</span> {% endcomment %}
                    </div>
                    <form action="#" method="POST" autocomplete="off">
                      {% csrf_token %}
                      <div class="single-input">
                        <label for="email">Email *</label>
                        <input type="email" id="email" name="email" placeholder="Email Address" autofocus required>
                      </div>
                      <div class="single-input">
                        <label for="password">Password *</label>
                        <input type="password" id="password" name="password" placeholder="Password" autofocus required>
                      </div>
                      <button type="submit" class="button-1">Sign In</button>
                    </form>
                    <div class="login-register-from-btom text-center mt-15">
                      <p>Dont have an Account? <a href="{% url 'register' %}">Sign Up</a></p>
                      <p class="forget mb-10 ">Lost Your Password ! <a href="{% url 'password-reset' %}">Forgot Password?</a></p>
                      <hr>
                      <p class="mt-10 " style="margin-top:20px;font-size:12px;" >A product by <a href="https://ukuyila.com">Ukuyila (Pty) Ltd</a></p>
                    </div>
                  </div>
                </div>
              </div>
            </div>

{% endblock %}

{% block js %}
<script src="{% static 'dash/js/pages/login.js' %}"></script>
{% endblock %}