{% extends 'layout/auth.html' %}
{% load static %}


{% block body %}
              <!-- /Logo -->
            <div class="card-body">
              <h4 class="mb-2">Password Reset 🔒</h4>
              <p class="mb-4">Your password has been changed successfully. Please <strong><a href="{% url 'login' %}" class="text-primary">login</strong></a> to access your account.</p>

              <div class="text-center">
                <a href="{% url 'login' %}" class="d-flex align-items-center justify-content-center">
                  <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
                  login
                </a>
              </div>
            </div>
{% endblock %}