{% extends 'layout/auth.html' %}
{% load static %}


{% block body %}
              <!-- /Logo -->
            <div class="card-body">
              <h4 class="mb-2">Forgot Password? 🔒</h4>
              <p class="mb-4">Please check your inbox and follow the instruction to reset your password.</p>

              <div class="text-center">
                <a href="{% url 'login' %}" class="d-flex align-items-center justify-content-center">
                  <i class="bx bx-chevron-left scaleX-n1-rtl bx-sm"></i>
                  Back to login
                </a>
              </div>
            </div>
{% endblock %}