{% extends 'layout/auth-new.html' %}
{% load static %}


{% block body %}

<div class="col-lg-6">
  <div class="login-page-left h-100" style="background-image: url('{% static 'auth/img/left-bg.jpg' %}');">
    <div class="row">
      <div class="col-10 col-lg-9 mx-auto">
        <div class="logo mb-10">
          <a href="{% url 'login' %}">
            <img src="{% static 'dash/img/logo/writesome-ai-logo-dark.png' %}" alt="Logo">
          </a>
        </div>
        {% comment %} <h3></h3>
        <p class="mt-5">Enter the email address which is associated with your account. We will send you a link.</p> {% endcomment %}
      </div>
    </div>
  </div>
</div>

<div class="col-lg-6 align-self-center">
  <div class="login-register-section">
    <div class="row">
      <div class="col-12 col-sm-10 col-xl-8 col-lg-10 mx-auto">
        <h2>Request Reset 👋</h2>
        <div class="text-center">
          <p class="mb-4">Your password has been changed successfully. Please <strong><a href="{% url 'login' %}" class="text-primary">login</strong></a> to access your account.</p>

        </div>

        <div class="login-register-from-btom text-center mt-15">
          <p>Go back to <a href="{% url 'login' %}">Login</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
