{% extends 'layout/dash.html' %}
{% load static %}


{% block css %}
		<!-- Data table css -->
		<link href="{% static 'dash/plugins/datatable/dataTables.bootstrap5.min.css' %}" rel="stylesheet" />
		<link href="{% static 'dash/plugins/datatable/jquery.dataTables.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block body %}


  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Completed Blogs</h3>
          <div class="card-options">
            <a href="{% url 'blog-topic' %}" class="btn btn-primary btn-sm">Generate New</a>
          </div>
        </div>
        <div class="card-body">
          {% if complete_blogs|length > 0 %}
          <div class="table-responsive mb-0 ">
            <table id="blogMemoryTable" class="table table-hover table-striped table-bordered" style="width:100%">
              <thead>
                <tr>
                  <th style="width:50%">Blog Title</th>
                  <th>Category</th>
                  <th>Keywords</th>
                  <th>Datetime</th>
                  <th></th>
                  
                </tr>
              </thead>
              <tbody class="table-border-bottom-0">
              {% for blog in complete_blogs %}
                <tr>
                  <td >
                    <h6 class="mb-0"><a>{{blog.title}}</a></h6>
                    <small class="text-muted d-block mb-1">{{blog.blog_idea}}</small>
                  </td>
                  <td>
                    {% for client in client_list %}
                      
                      {% for category in cate_list %}
                        {% if category.client == client %}
                          
                          {% if category.uniqueId == copy_content.category %}
                          {{client.client_name}}{{' - '}}{{category.category_name}}
                          {% endif %}
                          
                        {% endif %}
                      {% endfor %}
                    {% endfor %}
                  </td>
                  <td><small class="text-primary me-1">{{blog.keywords}}</small></td>
                  <td>{{blog.last_updated|date:"Y-m-d"}} {{blog.last_updated|time:"H:i"}}</td>
                  <td>
                    <a  href="{% url 'view-generated-blog' blog.slug %}" type="button" class="btn btn-xs btn-primary">View</a>
                    <a href="" type="button" class="btn btn-xs btn-danger">Delete</a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          {% else %}
          <div><h5>You have no blogs to display here yet, <a href="{% url 'blog-topic' %}">start creating</a></h5></div>
          {% endif %}
        </div>
      </div>
    </div>
    <div class="col-md-4">
      {% if empty_blogs|length > 0 %}
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Saved For Later</h3>
        </div>
        <div class="card-body">
          <div class="dash5">
            <div>
          {% for blog in empty_blogs %}
          <div class="list d-flex align-items-center  mb-4">
            <div class="w-4 h-4 bg-primary me-4 "></div>
            <div class="wrapper w-90 ms-3">

              <p class="mb-0">{{blog.title}}
              </p>
              <div class="d-flex justify-content-between align-items-center">
                <div class="d-flex align-items-center">
                  <small class="text-muted d-block mb-1">{{blog.blog_idea}}</small>
                </div>
                <div class="ms-auto btn-group">
                  <a href="{% url 'generate-blog-from-topic' blog.uniqueId %}" class="btn btn-outline-primary btn-xs btn-generate">Use</a>
                  <a href="{% url 'delete-blog-topic' blog.uniqueId %}" class="btn btn-outline-danger btn-xs">Delete</a>
                </div>
              </div>
            </div>
          </div>
          {% endfor %}
            </div>
          </div>
        </div>
      </div>
      {% endif %}
    </div>
  </div>


{% endblock %}

{% block js %}
		<!-- Data tables -->
		<script src="{% static 'dash/plugins/datatable/jquery.dataTables.min.js' %}"></script>
		<script src="{% static 'dash/plugins/datatable/dataTables.bootstrap.js' %}"></script>
		<script src="{% static 'dash/js/datatable.js' %}"></script>
{% endblock %} 