{% extends 'layout/dash.html' %}
{% load static %}


{% block body %}
            <!-- Content -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                
                                <div class="col-md-4 ">
                                    {% if not allowance %}
                                    <div class="row">
                                        <div class="card-body">
                                        <div class="mb-3 col-12 mb-0">
                                            <div class="alert alert-danger">
                                            <h6 class="alert-heading fw-bold mb-1">Upgrade Your Account!</h6>
                                            <p class="mb-0">You have used up all your allocated character count as per your subscription. Click
                                                <a href="{% url 'billing' %}">here</a> to upgrade your tier.</p>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="card">
                                        <div class="card-header d-flex justify-content-between align-items-center">
                                            
                                            <div class="mb-0">
                                                <h4 class="mb-0">{{ post_type_title|title }} Post</h4>
                                            </div>
                                            {% if post_blog %}
                                            <div class="float-end">
                                                <div class="btn-group " >
                                                    <a type="button" href="{% url 'edit-gen-blog' post_blog.uniqueId %}" class="btn btn-default">Back</a>
                                                </div>
                                                <div class="btn-group">
                                                    <a data-bs-toggle="dropdown" href="javascript:void(0);" class="btn btn-primary mini all" aria-expanded="false">
                                                        Social Media
                                                        <i class="fa fa-angle-down "></i>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="{% url 'gen-blog-social-media' 'linkedin' post_blog.uniqueId %}">Create LinkedIn</a></li>
                                                        <li><a href="{% url 'gen-blog-social-media' 'twitter' post_blog.uniqueId %}">Create Twitter</a></li>
                                                        <li><a href="{% url 'gen-blog-social-media' 'instagram' post_blog.uniqueId %}">Create Instagram</a></li>
                                                        <li><a href="{% url 'gen-blog-social-media' 'facebook' post_blog.uniqueId %}">Create Facebook</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            {% else %}
                                            <div class="float-end">
                                                
                                                <div class="btn-group">
                                                    <a data-bs-toggle="dropdown" href="javascript:void(0);" class="btn btn-primary mini all" aria-expanded="false">
                                                        Social Media
                                                        <i class="fa fa-angle-down "></i>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="{% url 'social-media-post' 'linkedin' %}">Create LinkedIn</a></li>
                                                        <li><a href="{% url 'social-media-post' 'twitter' %}">Create Twitter</a></li>
                                                        <li><a href="{% url 'social-media-post' 'instagram' %}">Create Instagram</a></li>
                                                        <li><a href="{% url 'social-media-post' 'facebook' %}">Create Facebook</a></li>
                                                    </ul>
                                                </div>
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div class="card-body">
                                            <form class="mb-3" action="#" method="POST">
                                                {% csrf_token %}
                                                <div class="mb-3">
                                                    <div class="d-flex align-items-center justify-content-between"><label for="post_title" class=" ">Title</label> <span class="title_counter text-muted">0/250</span></div>
                                                    <input type="text" class="form-control" id="post_title" name="post_title" placeholder="Post saving title" value="{{ post_title }}" maxlength="250" required/>
                                                </div>
                                                <div class="mb-3">
                                                    <label for="soc_post_type" class=" ">Post Type</label>
                                                    <select type="text" class="form-control " id="soc_post_type" name="soc_post_type">

                                                    {% for soc_post_type in soc_types_list %}
                                                      <option
                                                      {% if soc_post_type.post_name == this_soc_post.post_type %}
                                                      selected 
                                                      {% endif %}
                                                      value="{{soc_post_type.post_name}}"  >{{ soc_post_type.platform|title }}</option>
                                                    {% endfor %}
                                                    </select>
                                                </div>
                                                {% if post_blog %}
                                                <div class="mb-3">
                                                  <label for="blog_post" class=" ">Blog</label>
                                                  <select type="text" class="form-control select2-show-search" id="blog_title" name="blog_title">

                                                  {% for blog in blog_posts %}
                                                    <option
                                                    {% if post_blog == blog %}
                                                    selected 
                                                    {% endif %}
                                                    value="{{blog.uniqueId}}" id="{{blog.uniqueId}}" >{{blog.title}}</option>
                                                  {% endfor %}
                                                    
                                                  </select>
                                                </div>
                                                {% endif %}
                                                <div class="mb-3">
                                                  <div class="d-flex align-items-center justify-content-between"><label for="audience" class=" ">Target Audience</label> <span class="audience_counter text-muted">0/250</span></div>
                                                  <input type="text" class="form-control" id="audience" name="audience" placeholder="anyone" value="{{post_audience}}" maxlength="250" required/>
                                                </div>
                                                <div class="mb-3">
                                                  <div class="d-flex align-items-center justify-content-between"><label for="keywords" class=" ">Keywords</label> <span class="keywords_counter text-muted">0/250</span></div>
                                                  <input type="text" class="form-control" id="keywords" name="keywords" placeholder="finance, money, investments, trust funds" value="{{post_keywords}}" maxlength="250" />
                                                </div>
                                                <div class="mb-3">
                                                    <label for="tone_of_voice" class=" ">Tone of voice</label>
                                                    <select type="text" class="form-control select2-show-search" id="tone_of_voice" name="tone_of_voice">

                                                    {% for tone in tone_of_voices %}
                                                      <option
                                                      {% if post_tone == tone.tone_of_voice %}
                                                      selected 
                                                      {% endif %}
                                                      value="{{tone.tone_of_voice}}" id="{{tone.uniqueId}}" >{{tone.tone_of_voice}}</option>
                                                    {% endfor %}
                                                      
                                                    </select>
                                                </div>
                                                <div class="mb-3">
                                                    {% if post_body|length == 0 %}
                                                    <button class="btn btn-primary d-grid w-100 btn-generate" id="btn-generate" type="submit">Generate Post</button>
                                                    {% endif %}
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="col-md-8 text-left">
                                  <div class="card">
                                      <div class="card-header d-flex justify-content-between align-items-left">
                                          <h5 class="mb-0">AI Generated Response</h5>
                                      </div>
                                      <div class="card-body">
                                          <div class="row">
                                            <div class="col-lg-12">
                                              <div class="alert alert-warning" role="alert">Disclaimer: <small class="">The content presented to you by our system is AI generated, please do your own fact checking and proof-reading for grammar and spelling checks.</small></div>
                                            </div>
                                              <div class="col-lg-12 ">
                                                  <div class="form-group">
                                                      <label for="gen_post" class=" ">Use the generated content as you please</label>

                                                      <div class="card shadow-none bg-light-gray border border-secondary mb-3 ai-answer-card">
                                                          <div class="card-body text-dark">
                                                              <div class="ideas">
                                                                {{post_body}}
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                          <hr>
                                          <p class="mt-5 text-primary"><i>AI is the source of the content; your responses and generated text may be retained for assessment..</i></p>
      
                                      </div>
                                  </div>
                              </div>
                            </div>
                        </div>
                    </div>
            <!-- / Content -->
{% endblock %}

{% block js %}
<script src="{% static 'dash/js/pages/social-post.js' %}"></script>
{% endblock %}
