{% extends 'layout/dash.html' %}
{% load static %}


{% block css %}
<!-- select2 Plugin -->
<link href="{% static 'dash/plugins/select2/select2.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block body %}
            <!-- Content -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                
                                <div class="col-md-4 ">
                                    {% if not allowance %}
                                    <div class="row">
                                        <div class="card-body">
                                        <div class="mb-3 col-12 mb-0">
                                            <div class="alert alert-danger">
                                            <h6 class="alert-heading fw-bold mb-1">Upgrade Your Account!</h6>
                                            <p class="mb-0">You have used up all your allocated character count as per your subscription. Click
                                                <a href="{% url 'billing' %}">here</a> to upgrade your tier.</p>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="card">
                                        <div class="card-header d-flex justify-content-between align-items-center">
                                            <h5 class="mb-0">Enter your article title</h5>
                                        </div>
                                        <div class="card-body">
                                            <form class="mb-3" action="#" method="POST">
                                                {% csrf_token %}
                                                
                                                <div class="mb-3">
                                                    <div class="d-flex align-items-center justify-content-between"><label for="summary_title" class=" ">Title</label><span class="title_counter text-muted">0/250</span></div>
                                                    <input type="text" class="form-control" id="summary_title" name="summary_title" placeholder="Enter summary title" value="{{summary_title|safe}}" maxlength="250" />
                                                </div>
                                                <div class="mb-3">
                                                    <label for="category" class=" ">Category</label>

                                                    <div class="row gutters-xs">
														<div class="col">
                                                            <select type="text" class="form-control select2" id="category" name="category">
                                                                {% for client in client_list %}
                                                                <optgroup label="{{client.client_name}}">
                                                                {% for category in cate_list %}
                                                                {% if category.client == client %}
                                                                    <option value="{{category.uniqueId}}" id="{{category.uniqueId}}" 
                                                                    {% if category.uniqueId == this_summary_cate %}
                                                                    selected
                                                                    {% endif %}
                                                                    >{{client.client_name}}{{' - '}}{{category.category_name}}</option>
                                                                {% endif %}
                                                                {% endfor %}
                                                                </optgroup>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <span class="col-auto">
                                                            <button onclick="window.location.href='{% url 'categories' %}'" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Create Category" type="button"><i class="fe fe-plus"></i></button>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div class="mb-3">
                                                    <div class="d-flex align-items-center justify-content-between"><label for="long_content" class=" ">Content to summarize</label><span class="prompt_counter text-muted">0/14000</span></div>
                                                    <textarea type="text" maxlength="14000" rows="10" class="form-control" id="long_content" name="long_content" placeholder="Input your content here" required>{{long_content|safe}}</textarea>
                                                </div>

                                                <div class="mb-3">
                                                    <label for="tone_of_voice" class=" ">Tone of voice</label>
                                                    <select type="text" class="form-control select2" id="tone_of_voice" name="tone_of_voice">

                                                    {% for tone in tone_of_voices %}
                                                      <option
                                                      {% if tone_of_voice == tone.tone_of_voice %}
                                                      selected 
                                                      {% endif %}
                                                      value="{{tone.tone_of_voice}}" id="{{tone.uniqueId}}" >{{tone.tone_of_voice}}</option>
                                                    {% endfor %}
                                                      
                                                    </select>
                                                </div>
                 
                                                <div class="mb-3">
                                                    <button class="btn btn-primary d-grid w-100 btn-generate" id="btn-generate" type="submit">Generate</button>
                                                </div>

                                            </form>

                                        </div>
                                    </div>
                                    {% endif %}

                                </div>
                                <div class="col-md-8 text-left">
                                  <div class="card">
                                    <div class="card-header d-flex justify-content-between align-items-left">
                                        <h5 class="mb-0">AI Generated Response</h5>
                                        <div class="btn-group ">
											{% if post_blog %}
											<div class="btn-group " >
												<a type="button" href="{% url 'view-generated-blog' post_blog.slug %}" class="btn btn-default">Exit</a>
											</div>
                                            <div class="btn-group">
												<a data-bs-toggle="dropdown" href="javascript:void(0);" class="btn btn-primary mini all" aria-expanded="false">
												Tools
												<i class="fa fa-angle-down "></i>
												</a>
												<ul class="dropdown-menu">
													<li><a href="{% url 'generate-blog-meta' post_blog.uniqueId %}">Create Meta</a></li>
													<li><a href="{% url 'generate-blog-summary' post_blog.uniqueId %}">Summarize Blog</a></li>
													<li><a href="{% url 'generate-blog-meta' post_blog.uniqueId %}">Rewrite Title</a></li>
												</ul>
											</div>
											{% endif %}
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        
                                            <div class="row">
                                                <div class="alert alert-warning" role="alert">Disclaimer: <small class="">The content presented to you by our system is AI generated, please do your own fact checking and proof-reading for grammar and spelling checks.</small></div>
                                                <div class="col-lg-12 ">
    
                                                    <div class="form-group">
                                                        <label for="gen_paragraph" class=" ">Use the generated content as you please</label>

                                                        <div class="card shadow-none bg-light-gray border border-secondary mb-3 ai-answer-card">
                                            
                                                            <div class="card-body text-dark">
                                                                <div class="ideas">
                                                                    {{summarized_content|safe}}
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <!-- <textarea readonly class="mt-10  form-control" id="gen_paragraph" rows="6" ></textarea> -->
    
                                                    </div>
    
                                                </div>
                                            </div>
                                        <hr>
                                        <p class="mt-5 text-primary"><i>AI is the source of the content; your responses and generated text may be retained for assessment..</i></p>
    
                                    </div>
                                </div>
                                </div>
                            </div>
                        </div>
                    </div>

            <!-- / Content -->
{% endblock %}

{% block js %}
<!--Select2 js -->
<script src="{% static 'dash/plugins/select2/select2.full.min.js' %}"></script>
<script src="{% static 'dash/js/select2.js' %}"></script>
<!-- Page Js-->
<script src="{% static 'dash/js/pages/summarizer.js' %}"></script>
{% endblock %}