{% extends 'layout/dash.html' %}
{% load static %}

{% block css %}
    <!-- WYSIWYG Editor css -->
    <link href="{% static 'dash/plugins/wysiwyag/richtext.css' %}" rel="stylesheet" />
{% endblock %}

{% block body %}
            <!-- Content -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <div class="mb-0">
                                <div class="btn-group " >
                                    <a type="button" href="{% url 'view-generated-blog' blog.slug %}" class="btn btn-default">Back</a>
                                </div>
                                {% comment %} <h4>AI Generated Response</h4> {% endcomment %}
                            </div>
                            <div class="float-end">
                                
                                <div class="btn-group ">
                                    <button onclick="return window.location.href='{% url 'download-content' 'edit_blog' blog.uniqueId %}'" class="btn btn-primary" >Download</button>
                                </div>
                                <div class="btn-group">
                                    <a data-bs-toggle="dropdown" href="javascript:void(0);" class="btn btn-primary mini all" aria-expanded="false">
                                        Social Media
                                        <i class="fa fa-angle-down "></i>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li><a href="{% url 'gen-blog-social-media' 'thread' uniqueId %}">Create Thread Post</a></li>
                                        <li><a href="{% url 'gen-blog-social-media' 'linkedin' uniqueId %}">Create LinkedIn Post</a></li>
                                        <li><a href="{% url 'gen-blog-social-media' 'twitter' uniqueId %}">Create Twitter Post</a></li>
                                        <li><a href="{% url 'gen-blog-social-media' 'instagram' uniqueId %}">Create Instagram Post</a></li>
                                        <li><a href="{% url 'gen-blog-social-media' 'facebook' uniqueId %}">Create Facebook Post</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <form action="#" method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-12 ">
                                        <div class="alert alert-warning" role="alert">Disclaimer: <small class="">The content presented to you by our system is AI generated, please do your own fact checking and proof-reading for grammar and spelling checks.</small></div>
                                        <div class="mb-3">
                                            <div class="d-flex align-items-center justify-content-between"><label for="blog-title" class=" ">Blog Title</label> <span class="title_counter text-muted">0/250</span></div>
                                            <input type="text" class="form-control" id="blog-title" name="blog-title" value="{{blog.title}}"  maxlength="250" required/>
                                        </div>
                                        <div class="mb-3">
                                            <div class="d-flex align-items-center justify-content-between"><label for="keywords" class=" ">Blog Keywords</label> <span class="keywords_counter text-muted">0/250</span></div>
                                            <input type="text" class="form-control" id="keywords" name="keywords" value="{{blog.keywords}}" maxlength="250" readonly />
                                        </div>
                                        <div class="mb-3">
                                            <label for="category" class=" ">Category</label>
                                            <select type="text" class="form-control select2" id="category" name="category">
                                                {% for client in client_list %}
                                                <optgroup label="{{client.client_name}}">
                                                {% for category in cate_list %}
                                                {% if category.client == client %}
                                                    <option value="{{category.uniqueId}}" id="{{category.uniqueId}}"
                                                    {% if category.uniqueId == blog_cate %}
                                                    selected
                                                    {% endif %}
                                                    >{{client.client_name}}{{' - '}}{{category.category_name}}</option>
                                                {% endif %}
                                                {% endfor %}
                                                </optgroup>
                                                {% endfor %}
                                            </select>
                                        </div>
                                        <div class="form-group">
                                            <h6 class="">Generated Blog Body</h6>
                                            
                                            <div class="card shadow-none border border-secondary mb-3 ">
                                                <div class="card-body ideas-text">
                                                    <textarea class="mt-3 content2" name="generated-blog" required >{{blog_body}}</textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <button class="btn btn-primary d-grid w-100 btn-save" id="btn-save" type="submit">Save</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <hr>
                            <p class="mt-5 text-primary"><i>AI is the source of the content; your responses and generated text may be retained for assessment..</i></p>

                        </div>
                    </div>
                </div>
            </div>

            <!-- / Content -->
{% endblock %}

{% block js %}
    <!-- INTERNAL SUMMERNOTE Editor JS -->
    <!-- WYSIWYG Editor js -->
    <script src="{% static 'dash/plugins/wysiwyag/jquery.richtext.js' %}"></script>
    <script src="{% static 'dash/js/formeditor.js' %}"></script>
    <script src="{% static 'dash/js/pages/edit-blog.js' %}"></script>
{% endblock %}