{% extends 'layout/dash.html' %}
{% load static %}


{% block css %}
		<!-- Data table css -->
		<link href="{% static 'dash/plugins/datatable/dataTables.bootstrap5.min.css' %}" rel="stylesheet" />
		<link href="{% static 'dash/plugins/datatable/jquery.dataTables.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block body %}


  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Saved Meta Descriptions</h3>
          <div class="card-options">
            <a href="{% url 'meta-description-generator' %}" class="btn btn-primary btn-sm">Generate New</a>
          </div>
        </div>
        <div class="card-body">
          {% if saved_meta_descriptions|length > 0 %}
          <div class="table-responsive mb-0 ">
            <table id="blogMemoryTable" class="table table-hover table-striped table-bordered" style="width:100%">
              <thead>
                <tr>
                  <th style="width:50%">Title</th>
                  <th>Tone Of Voice</th>
                  <th>Category</th>
                  <th>Datetime</th>
                  <th></th>
                  
                </tr>
              </thead>
              <tbody class="table-border-bottom-0">
              {% for saved_meta_descr in saved_meta_descriptions %}
                <tr>
                  <td >
                    <h6 class="mb-0"><a>{{saved_meta_descr.article_title}}</a></h6>
                  </td>
                  <td><small class="text-primary me-1">{{saved_meta_descr.tone_of_voice}}</small></td>
                  <td>
                    
                  </td>
                  <td>{{saved_meta_descr.date_created|date:"Y-m-d"}}</td>
                  <td>
                    <a href="{% url 'meta-description-generator-response' saved_meta_descr.uniqueId %}" type="button" class="btn btn-xs btn-primary">Edit</a>
                    <a href="" type="button" class="btn btn-xs btn-danger">Delete</a>
                  </td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          {% else %}
          <div><h5>You have no data to display here yet, <a href="{% url 'meta-description-generator' %}">start creating</a></h5></div>
          {% endif %}
        </div>
      </div>
    </div>

  </div>

{% endblock %}

{% block js %}
		<!-- Data tables -->
		<script src="{% static 'dash/plugins/datatable/jquery.dataTables.min.js' %}"></script>
		<script src="{% static 'dash/plugins/datatable/dataTables.bootstrap.js' %}"></script>
		<script src="{% static 'dash/js/datatable.js' %}"></script>
{% endblock %} 