{% extends 'layout/dash.html' %}
{% load static %}


{% block css %}
		<!-- Data table css -->
		<link href="{% static 'dash/plugins/datatable/dataTables.bootstrap5.min.css' %}" rel="stylesheet" />
		<link href="{% static 'dash/plugins/datatable/jquery.dataTables.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block body %}

  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-md-5 col-xl-3">
              <div class="card-body p-0 border">
                <div class="list-group list-group-transparent mb-0 mail-inbox">
                  <div class="mt-4 mb-4 ms-4 me-4 text-center">
                    <a href="{% url 'landing-page-copy' %}" class="btn btn-primary btn-lg btn-block">Generate New</a>
                  </div>
                  <a href="{% url 'blog-memory' 'complete' %}" class="list-group-item list-group-item-action d-flex align-items-center
                  {% if blogs_status == 'complete' %}
                  active text-white
                  {% endif %}
                  ">
                    <span class="icon me-3"><i class="fe fe-database"></i></span>Complete Blogs
                  </a>
                  <a href="{% url 'blog-memory' 'incomplete' %}" class="list-group-item list-group-item-action d-flex align-items-center
                  {% if blogs_status == 'incomplete' %}
                  active text-white
                  {% endif %}">
                    <span class="icon me-3"><i class="fe fe-database"></i></span>Incomplete Blogs
                  </a>
                  <a href="{% url 'blog-memory' 'edited' %}" class="list-group-item list-group-item-action d-flex align-items-center
                  {% if blogs_status == 'edited' %}
                  active text-white
                  {% endif %}">
                    <span class="icon me-3"><i class="fe fe-database"></i></span>Edited Blogs
                  </a>
                  <a href="{% url 'paragraph-memory' %}" class="list-group-item list-group-item-action d-flex align-items-center
                  {% if current_page == 'Paragraph Memory' %}
                  active text-white
                  {% endif %}
                  ">
                    <span class="icon me-3"><i class="fe fe-database"></i></span>Paragraphs
                  </a>
                  <a href="{% url 'summarizer-memory' %}" class="list-group-item list-group-item-action d-flex align-items-center
                  {% if current_page == 'Summarizer Memory' %}
                  active text-white
                  {% endif %}
                  ">
                    <span class="icon me-3"><i class="fe fe-database"></i></span>Summaries
                  </a>
                  <a href="{% url 'page-copy-memory' %}" class="list-group-item list-group-item-action d-flex align-items-center
                  {% if current_page == 'Page Copy Memory' %}
                  active text-white
                  {% endif %}
                  ">
                    <span class="icon me-3"><i class="fe fe-database"></i></span>Page Copies
                  </a>
                  <a href="javascript:void(0);" class="list-group-item list-group-item-action d-flex align-items-center">
                    <span class="icon me-3"><i class="fe fe-database"></i></span>Meta Descriptions
                  </a>
                </div>
              </div>

            </div>
            <div class="col-md-7 col-xl-9">
              <div class="">
                <div class="card-body p-6 border">
                  <div class="inbox-body">
                    
                    <div class="table-responsive mb-0 ">
                      <table id="blogMemoryTable" class="table table-hover table-striped table-bordered" style="width:100%">
                        <thead>
                          <tr>
                            <th style="width:50%">Title</th>
                            <th>Purpose</th>
                            <th>Category</th>
                            <th>Datetime</th>
                            <th></th>
                            
                          </tr>
                        </thead>
                        <tbody class="table-border-bottom-0">
                        {% for saved_page_copy in saved_page_copies %}
                          <tr>
                            <td >
                              <h6 class="mb-0">
                                <a >{% if saved_page_copy.copy_title|length > 0 %}
                                {{saved_page_copy.copy_title}}
                                {% else %}
                                {{saved_page_copy.company_name}}
                                {% endif %}</a>
                              </h6>
                            </td>
                            <td><small class="text-primary me-1">{{saved_page_copy.company_purpose}}</small></td>
                            <td>
                              {% for client in client_list %}
                                
                                {% for category in cate_list %}
                                  {% if category.client == client %}
                                    
                                    {% if category.uniqueId == saved_page_copy.category %}
                                    {{client.client_name}}{{' - '}}{{category.category_name}}
                                    {% endif %}
                                    
                                  {% endif %}
                                {% endfor %}
                              {% endfor %}
                            </td>
                            <td>{{saved_page_copy.date_created|date:"Y-m-d"}}</td>
                            <td>
                              <a href="{% url 'landing-page-copy-response' saved_page_copy.uniqueId %}" type="button" class="btn btn-xs btn-primary"><i class="icon icon-eye"></i></a>
                              <a href="" type="button" class="btn btn-xs btn-danger"><i class="icon icon-trash"></i></a>
                            </td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>

                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  
  
  {% endblock %}
  
  {% block js %}
      <!-- Data tables -->
      <script src="{% static 'dash/plugins/datatable/jquery.dataTables.min.js' %}"></script>
      <script src="{% static 'dash/plugins/datatable/dataTables.bootstrap.js' %}"></script>
      <script src="{% static 'dash/js/datatable.js' %}"></script>
  {% endblock %} 