{% extends 'layout/dash.html' %}
{% load static %}
{% load crispy_forms_tags %}




{% block body %}

            <!-- Content -->


              <div class="row">
                <div class="col-md-12">

                  <div class="card">
                    <h5 class="card-header">{{item_name}}</h5>
                    <div class="card-body">
                      <div class="mb-3 col-12 mb-0">

                        <div class="row mb-5">
                          <div class="col-md-6 col-lg-6 mb-3">
                            <div class="card text-center alert alert-info">
                              <div class="card-header">{{item_name}}</div>
                              <div class="card-body">
                                <h5 class="card-title">R{{amount}} per month</h5>
                                {% comment %} <p class="card-text">Generate 40 000* Words</p> {% endcomment %}

                                {% comment %} <form action="{{action_url}}" method="post">
                                  
                                  <input type="hidden" name="merchant_id" value="{{merchant_id}}">
                                  <input type="hidden" name="merchant_key" value="{{merchant_key}}">

                                  <input type="hidden" name="return_url" value="{{notify_url}}">
                                  <input type="hidden" name="cancel_url" value="{{cancel_url}}">
                                  <input type="hidden" name="notify_url" value="{{notify_url}}">
                                  
                                  <!-- customer -->
                                  <input type="hidden" name="name_first" value="{{user.first_name}}">
                                  <input type="hidden" name="name_last" value="{{user.last_name}}">
                                  <input type="hidden" name="email_address" value="{{user.email}}">

                                  <input type="hidden" name="m_payment_id" value="{{order_id}}">
                                  <input type="hidden" name="amount" value="{{amount}}">
                                  <input type="hidden" name="item_name" value="{{item_name}}">
                                  <input type="hidden" name="item_description" value="{{item_name}} package subscription">

                                  <!-- subscription -->
                                  <input type="hidden" name="subscription_type" value="1">
                                  <!-- <input type="hidden" name="billing_date" value=""> -->
                                  <input type="hidden" name="recurring_amount" value="{{amount}}">
                                  <input type="hidden" name="frequency" value="3">
                                  <input type="hidden" name="cycles" value="0">
                                  <input type="hidden" name="user_id" value="{{user.profile.uniqueId}}">
                                  
                                  <input type="hidden" name="signature" value="{{signature}}">
                                  
                                  <input type="submit" class="btn btn-lg btn-danger" value="Pay Now">
                               </form> {% endcomment %}
                              {% load render_as_template %}
                              {% render_as_template htmlForm %}
                              </div>
                              <div class="card-footer text-muted">Pay with PayFast</div>
                            </div>
                          </div>

                      </div>


                    </div>
                  </div>
                </div>
              </div>
            <!-- / Content -->

{% endblock %}


