{% extends 'layout/dash.html' %}
{% load static %}
{% load crispy_forms_tags %}




{% block body %}
            <!-- Content -->
            <div class="row ">
							<div class="col-lg-4">
								<div class="card">
									<div class="card-header">
										<h3 class="card-title">Profile Avatar</h3>

									</div>
									<div class="card-body">
											<div class="row mb-2">
												<div class="col-auto">

                          {% if user.profile.profile_image.name %}
                        <img
                          src="{{user.profile.profile_image.url}}"
                          alt="{{user.first_name}} avatar"
                          class="d-block rounded"
                          height="100"

                        />
                        {% else %}
                        <img
                          src="{% static 'dash/img/avatars/1.png' %}"
                          alt="{{user.first_name}} avatar"
                          class="d-block rounded"
                          height="100"

                        />
                        {% endif %}

                        <div class="button-wrapper">
                          <form method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {{image_form|crispy}}

                            <button type="submit" class="btn btn-primary mb-4 mt-3">
                            <span class="d-none d-sm-block">Save Image</span>
                          </button>

                          </form>

                          <p class="text-muted mb-0">Allowed JPG, GIF or PNG. Max size of 800K</p>
                        </div>

													{% comment %} <img class="avatar brround avatar-xl" src="../assets/images/faces/male/25.jpg" alt="Avatar-img"> {% endcomment %}
												</div>
											</div>
									</div>
								</div>
							</div>

              <div class="col-lg-8">
                <div class="card">
									<div class="card-header">
										<h3 class="card-title">Edit Profile</h3>

									</div>
									<div class="card-body">
                    <form  method="post" action="#">
                      {% csrf_token %}
                      {% crispy form %}

                    </form>
                  </div>
                </div>
              </div>


            </div>

            <!-- / Content -->
  <!-- New Client Modal -->
  <div class="modal fade" id="addNewClient" tabindex="-1" role="dialog"  aria-hidden="true">
    <div class="modal-dialog" role="document">

      <form method="POST">
        {% csrf_token %}
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="client-modal-title">New Client</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="new-client-name" class="control-label mb-10">Client Name:</label>
              <input type="text" class="form-control" name="new-client-name" id="new-client-name" maxlength="255" required>
            </div>

            <div class="form-group">
              <label for="nc-contact-name" class="control-label mb-10">Contact Person:</label>
              <input type="text" class="form-control" name="nc-contact-name" id="nc-contact-name" maxlength="255" >

            </div>

            <div class="form-group">
              <label for="nc-contact-email" class="control-label mb-10">Email:</label>
              <input type="text" class="form-control" name="nc-contact-email" id="nc-contact-email" maxlength="255" >

            </div>

            <div class="form-group">
              <label for="nc-industry" class="control-label mb-10">Industry:</label>
              <input type="text" class="form-control" name="nc-industry" id="nc-industry" maxlength="255" >

            </div>
            
            <div class="form-group">
              <label for="nc-address" class="control-label mb-10">Address:</label>
              <textarea class="form-control" name="nc-address" id="nc-address" ></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary">Save</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
