{% extends 'layout/dash.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block css %}
    <!-- select2 Plugin -->
    <link href="{% static 'dash/plugins/select2/select2.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block body %}
  <!-- Content -->
  <div class="row ">

    <div class="col-lg-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Edit Profile</h3>
          
          <div class="alert alert-danger" id="error-alert" hidden role="alert"></div>
          <div class="alert alert-success" id="success-alert" hidden role="alert"></div>
        </div>
        <div class="card-body">
          <h4 class="mb-4 font-weight-semibold">Personal Information</h4>
          <form  method="POST" >
            {% csrf_token %}
            {% crispy profile_form %}

          </form>
        </div>
        <div class="card-body">
          <h4 class="mb-4 font-weight-semibold">Settings</h4>
          <form id="settings-form" class="form-horizontal">
            {% csrf_token %}
            <div class="form-group ">
              <div class="row">
                <div class="col-md-3">
                  <label class="form-label">Language</label>
                </div>
                <div class="col-md-9">
                  <select class="form-control select2" name="user-language" id="user-lang">
                    <option disabled >Site Default</option>
                    <option {% if lang == 'en-us' %} selected {% endif %} value="en-us">US English</option>
                    <option {% if lang == 'en-gb' %} selected {% endif %} value="en-gb">GB English</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="form-group ">
              <div class="row">
                <div class="col-md-3">
                  <label class="form-label">Website</label>
                </div>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="user-website" id="user-website" value="{{user_settings.website_link}}" placeholder="https://writesome.ai">
                </div>
              </div>
            </div>
            <div class="form-group ">
              <div class="row">
                <div class="col-md-3">
                  <label class="form-label">Twitter</label>
                </div>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="user-twitter" id="user-twitter" value="{{user_settings.twitter_link}}" placeholder="https://twitter.com/writesome">
                </div>
              </div>
            </div>
            <div class="form-group "> 
              <div class="row">
                <div class="col-md-3">
                  <label class="form-label">Facebook</label>
                </div>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="user-facebook" id="user-facebook" value="{{user_settings.facebook_link}}" placeholder="https://www.facebook.com/writesome">
                </div>
              </div>
            </div>

            <div class="form-group ">
              <div class="row">
                <div class="col-md-3">
                  <label class="form-label">Instagram</label>
                </div>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="user-instagram" id="user-instagram" value="{{user_settings.instagram_link}}" placeholder="">
                </div>
              </div>
            </div>
            <div class="form-group ">
              <div class="row">
                <div class="col-md-3">
                  <label class="form-label">LinkedIn</label>
                </div>
                <div class="col-md-9">
                  <input type="text" class="form-control" name="user-linkedin" id="user-linkedin" value="{{user_settings.linkedin_link}}" placeholder="">
                </div>
              </div>
            </div>
            <h4 class="mb-4 font-weight-semibold">Preferences</h4>
            <div class="form-group mb-0">
              <div class="row">
                <div class="col-md-3">
                  <label class="form-label">Email Preferences</label>
                </div>
                <div class="col-md-9">
                  <div class="custom-controls-stacked">
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" name="email-notify" id="email-notify" {% if user_settings.email_notify %} checked {% endif %}>
                      <span class="custom-control-label">Accept to receive post or page notification emails</span>
                    </label>
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" name="multiple-email-notify" id="multiple-email-notify" {% if user_settings.multiple_email_notify %} checked {% endif %} >
                      <span class="custom-control-label">Accept to receive email sent to multiple recipients </span>
                    </label>
                  </div>
                </div>
              </div>
            </div>
            <div class="form-group mb-0">
              <button type="submit" id="save-settings-btn" class="btn btn-primary waves-effect waves-light">Save</button>
            </div>
          </form>
        </div>
      </div>
      {% if user.profile.subscribed %}
      <div class="card">
        <h5 class="card-header">Cancel Subscription</h5>
        <div class="card-body">
          <div class="mb-3 col-12 mb-0">
            <div class="alert alert-warning">
              <h6 class="alert-heading fw-bold mb-1">Are you sure you want to unsubscribe your package?</h6>
              <p class="mb-0">Once you unsubscribe, you will lose your current Projects, Memories and all premium features on your current package. Please be certain.</p>
            </div>
          </div>
          <form id="formAccountUnsubscribe" onsubmit="return false">
            <div class="form-check mb-3">
              <input
                class="form-check-input"
                type="checkbox"
                name="accountUnsubscribe"
                id="accountUnsubscribe"
              />
              <label class="form-check-label" for="accountUnsubscribe"
                >I confirm, cancel my subscription</label
              >
            </div>
            <button onclick="return window.location.href='{% url 'unsubscribe-account' %}'" type="button" class="btn btn-danger unsubscribe-account">Unsubscribe</button>
          </form>
        </div>
      </div>
      {% endif %}
    </div>

  </div>
  <!-- / Content -->

{% endblock %}

{% block js %}
    <!--Select2 js -->
    <script src="{% static 'dash/plugins/select2/select2.full.min.js' %}"></script>
    <script src="{% static 'dash/js/select2.js' %}"></script>
    <script src="{% static 'dash/js/pages/profile.js' %}"></script>
{% endblock %}