{% extends 'layout/dash.html' %}
{% load static %}


{% block body %}
            <!-- Content -->
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="row">
                                
                                <div class="col-md-4 ">
                                    {% if not allowance %}
                                    <div class="row">
                                        <div class="card-body">
                                        <div class="mb-3 col-12 mb-0">
                                            <div class="alert alert-danger">
                                            <h6 class="alert-heading fw-bold mb-1">Upgrade Your Account!</h6>
                                            <p class="mb-0">You have used up all your allocated character count as per your subscription. Click
                                                <a href="{% url 'subscription-plans' %}">here</a> to upgrade your tier.</p>
                                            </div>
                                        </div>
                                        </div>
                                    </div>
                                    {% else %}
                                    <div class="card">
                                        <div class="card-header d-flex justify-content-between align-items-center">
                                            
                                            <div class="mb-0">
                                                <h5 class="mb-0">{{ post_type_title|title }} Post</h5>
                                            </div>
                                            {% if post_blog %}
                                            <div class="float-end">
                                                <div class="btn-group " >
                                                    <a type="button" href="{% url 'edit-gen-blog' post_blog.uniqueId %}" class="btn btn-default">Back</a>
                                                </div>
                                                <div class="btn-group">
                                                    <a data-bs-toggle="dropdown" href="javascript:void(0);" class="btn btn-primary mini all" aria-expanded="false">
                                                        Social Media
                                                        <i class="fa fa-angle-down "></i>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="{% url 'gen-blog-social-media' 'facebook' post_blog.uniqueId %}">Create Facebook Post</a></li>
                                                        <li><a href="{% url 'gen-blog-social-media' 'twitter' post_blog.uniqueId %}">Create Twitter Post</a></li>

                                                        {% if user.profile.subscription_type|title != 'Free' %}
                                                        <li><a href="{% url 'gen-blog-social-media' 'instagram' post_blog.uniqueId %}">Create Instagram Post</a></li>
                                                        <li><a href="{% url 'gen-blog-social-media' 'linkedin' post_blog.uniqueId %}">Create LinkedIn Post</a></li>
                                                        <li><a href="{% url 'gen-blog-social-media' 'thread' post_blog.uniqueId %}">Create Thread Post</a></li>
                                                        
                                                        {% else %}
                                                        <li><a class="text-muted" href="javascript:void(0);">Create Instagram Post</a></li>
                                                        <li><a class="text-muted" href="javascript:void(0);">Create LinkedIn Post</a></li>
                                                        <li><a class="text-muted" href="javascript:void(0);">Create Thread Post</a></li>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                            </div>
                                            {% comment %} {% elif this_soc_post %}
                                            
                                            <!-- / regenarate content: function not complete -->
                                            <div class="float-end">
                                                
                                                <div class="btn-group">
                                                    <a data-bs-toggle="dropdown" href="javascript:void(0);" class="btn btn-primary mini all" aria-expanded="false">
                                                        Social Media
                                                        <i class="fa fa-angle-down "></i>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a onclick="return regeneratePostSocial('facebook', '{{this_soc_post.uniqueId}}', '{% url 'social-media-post' 'facebook' %}')">Create Facebook Post</a></li>
                                                        <li><a onclick="return regeneratePostSocial('twitter', '{{this_soc_post.uniqueId}}', '{% url 'social-media-post' 'twitter' %}')">Create Twitter Post</a></li>

                                                        {% if user.profile.subscription_type|title != 'Free' %}
                                                        <li><a onclick="return regeneratePostSocial('instagram', '{{this_soc_post.uniqueId}}', '{% url 'social-media-post' 'instagram' %}')">Create Instagram Post</a></li>
                                                        <li><a onclick="return regeneratePostSocial('linkedin', '{{this_soc_post.uniqueId}}', '{% url 'social-media-post' 'linkedin' %}')">Create LinkedIn Post</a></li>
                                                        <li><a onclick="return regeneratePostSocial('thread', '{{this_soc_post.uniqueId}}', '{% url 'social-media-post' 'thread' %}')">Create Thread Post</a></li>

                                                        {% else %}
                                                        <li><a class="text-muted" href="javascript:void(0);">Create Instagram Post</a></li>
                                                        <li><a class="text-muted" href="javascript:void(0);">Create LinkedIn Post</a></li>
                                                        <li><a class="text-muted" href="javascript:void(0);">Create Thread Post</a></li>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                            </div> {% endcomment %}
                                            {% else %}
                                            <div class="float-end">
                                                
                                                <div class="btn-group">
                                                    <a data-bs-toggle="dropdown" href="javascript:void(0);" class="btn btn-primary mini all" aria-expanded="false">
                                                        Social Media
                                                        <i class="fa fa-angle-down "></i>
                                                    </a>
                                                    <ul class="dropdown-menu">
                                                        <li><a href="{% url 'social-media-post' 'facebook' %}">Create Facebook Post</a></li>
                                                        <li><a href="{% url 'social-media-post' 'twitter' %}">Create Twitter Post</a></li>
                                                        
                                                        {% if user.profile.subscription_type|title != 'Free' %}
                                                        <li><a href="{% url 'social-media-post' 'instagram' %}">Create Instagram Post</a></li>
                                                        <li><a href="{% url 'social-media-post' 'linkedin' %}">Create LinkedIn Post</a></li>
                                                        <li><a href="{% url 'social-media-post' 'thread' %}">Create Thread Post</a></li>

                                                        {% else %}
                                                        <li><a class="text-muted" href="javascript:void(0);">Create Instagram Post</a></li>
                                                        <li><a class="text-muted" href="javascript:void(0);">Create LinkedIn Post</a></li>
                                                        <li><a class="text-muted" href="javascript:void(0);">Create Thread Post</a></li>
                                                        {% endif %}
                                                    </ul>
                                                </div>
                                            </div>
                                            {% endif %}
                                        </div>
                                        <div class="card-body">
                                            <div class="alert alert-danger" id="error-alert" hidden role="alert"></div>
                                            <div class="alert alert-success" id="success-alert" hidden role="alert"></div>
                                            <form class="mb-3" action="#" method="POST">
                                                {% csrf_token %}
                                                <div {% if user.profile.subscription_type|title == 'Free' %} hidden style="display:none;" {% endif %}  class="mb-3">
                                                    <label for="category" class=" ">Category</label>
                                                    <div class="row gutters-xs">
														<div class="col">
                                                            <select type="text" class="form-control prompt-input " id="category" name="category" id="category">
                                                                {% for client in client_list %}
                                                                <optgroup label="{{client.client_name}}">
                                                                {% for category in cate_list %}
                                                                {% if category.client == client %}
                                                                    <option value="{{category.uniqueId}}"
                                                                    {% if category.uniqueId == this_soc_post.category %}
                                                                    selected
                                                                    {% endif %}
                                                                    >{{client.client_name}}{{' - '}}{{category.category_name}}</option>
                                                                {% endif %}
                                                                {% endfor %}
                                                                </optgroup>
                                                                {% endfor %}
                                                            </select>
                                                        </div>
                                                        <span class="col-auto">
                                                            <button onclick="window.location.href='{% url 'categories' %}'" class="btn btn-secondary" data-bs-toggle="tooltip" data-bs-placement="top" title="Create Category" type="button"><i class="fe fe-plus"></i></button>
                                                        </span>
                                                    </div>
                                                </div>
                                                <div hidden class="mb-3">
                                                    <label for="soc_post_type" class=" ">Platform</label>
                                                    <select type="text" class="form-control " id="soc_post_type" name="soc_post_type">

                                                    {% for soc_post_type in soc_types_list %}
                                                      <option
                                                      {% if soc_post_type.post_name == this_soc_post.post_type %}
                                                      selected 
                                                      {% endif %}
                                                      value="{{soc_post_type.post_name}}" >{{ soc_post_type.platform|title }}</option>
                                                    {% endfor %}
                                                    </select>
                                                </div>
                                                <div class="mb-3">
                                                    <div class="d-flex align-items-center justify-content-between"><label for="post_title" class=" ">Title</label> <span class="title_counter text-muted">0/250</span></div>
                                                    <input type="text" class="form-control" id="post_title" name="post_title" placeholder="Post title" value="{{ this_soc_post.title }}" maxlength="250" required/>
                                                </div>
                                                <div class="mb-3">
                                                    <div class="d-flex align-items-center justify-content-between"><label for="prompt_text" class=" ">Topic</label><span class="topic_counter text-muted">0/300</span></div>
                                                    <textarea type="text" rows="6" class="form-control" id="prompt_text" name="prompt_text" placeholder="Input your topic here" maxlength="300" required>{{this_soc_post.post_idea|safe}}</textarea>
                                                </div>
                                                <div class="mb-3">
                                                  <div class="d-flex align-items-center justify-content-between"><label for="audience" class=" ">Target Audience</label> <span class="audience_counter text-muted">0/250</span></div>
                                                  <input type="text" class="form-control" id="audience" name="audience" placeholder="anyone" value="{{this_soc_post.audience}}" maxlength="250" required/>
                                                </div>
                                                <div class="mb-3">
                                                  <div class="d-flex align-items-center justify-content-between"><label for="keywords" class=" ">Keywords</label> <span class="keywords_counter text-muted">0/250</span></div>
                                                  <input type="text" class="form-control" id="keywords" name="keywords" placeholder="finance, money, investments, trust funds" value="{{this_soc_post.keywords}}" maxlength="250" />
                                                </div>
                                                <div class="mb-3">
                                                    <label for="tone_of_voice" class=" ">Tone of voice</label>
                                                    <select type="text" class="form-control select2-show-search" id="tone_of_voice" name="tone_of_voice">

                                                    {% for tone in tone_of_voices %}
                                                      <option
                                                      {% if this_soc_post.tone_of_voice == tone.tone_of_voice %}
                                                      selected 
                                                      {% endif %}
                                                      value="{{tone.tone_of_voice}}" id="{{tone.uniqueId}}" >{{tone.tone_of_voice}}</option>
                                                    {% endfor %}
                                                      
                                                    </select>
                                                </div>
                                                <div class="mb-3">
                                                    {% if post_body|length == 0 %}
                                                    <button class="btn btn-primary d-grid w-100 btn-generate" id="btn-generate" type="submit">Generate Content</button>
                                                    {% endif %}
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="col-md-8 text-left">
                                  <div class="card">
                                      <div class="card-header d-flex justify-content-between align-items-left">
                                          <h5 class="mb-0">AI Generated Response</h5>
                                          <div class="float-end">
                                            <div class="btn-group ">
                                                {% if this_soc_post.uniqueId %}
                                                <button class="btn btn-primary" 
                                                 onclick="return window.location.href='{% url 'download-content' content_type this_soc_post.uniqueId %}'">Download</button>
                                                {% endif %}
                                            </div>
                                        </div>
                                      </div>
                                      <div class="card-body">
                                          <div class="row">
                                            <div class="col-lg-12">
                                              <div class="alert alert-warning" role="alert">Disclaimer: <small class="">The content presented to you by our system is AI generated, please do your own fact checking and proof-reading for grammar and spelling checks.</small></div>
                                            </div>
                                              <div class="col-lg-12 ">
                                                  <div class="form-group">
                                                      <label for="gen_post" class=" ">Use the generated content as you please</label>

                                                      <div class="card shadow-none bg-light-gray border border-secondary mb-3 ai-answer-card">
                                                          <div class="card-body text-dark">
                                                            {% if this_soc_post.uniqueId %}
                                                            <button type="button" class="btn btn-outline-primary " onclick="copyToClipboard('#ai-response-text')" aria-hidden="true"><i class='fa fa-clone '></i></button>
                                                            {% endif %}
                                                              <div id="ai-response-text" class="ideas">
                                                                {{this_soc_post.post|safe}}
                                                              </div>
                                                          </div>
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>
                                          <hr>
                                          <p class="mt-5 text-primary"><i>AI is the source of the content; your responses and generated text may be retained for assessment..</i></p>
      
                                      </div>
                                  </div>
                              </div>
                            </div>
                        </div>
                    </div>
            <!-- / Content -->
{% endblock %}

{% block js %}
<script src="{% static 'dash/js/pages/social-post.js' %}"></script>
{% endblock %}
