{% extends 'layout/dash.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% load mathfilters %}


{% block body %}

<div class="col-md-12">
  <div class="card">
    <div class="card-body items-gallery">
      <div class="items-blog-tab text-center">
        <h2 class="">Availabe Subscription Plans</h2>
        <p class="text-primary mb-3 ">Your current plan: <strong>{% if user_sub_type == 'Free' %} {{ 'Free' }} {% else %} {{ curr_user_sub_type }} {% endif %}</strong></p>
        <div class="items-blog-tab-heading row" style"margin-bottom: 15px;!important">
          <div class="col-12">
            <ul class="nav items-blog-tab-menu">
              <li class=""><a href="#tab-1" class="active show" data-bs-toggle="tab">Annually</a></li>
              <li><a href="#tab-2" data-bs-toggle="tab" class="">Monthly</a></li>
            </ul>
          </div>
        </div>
        <div class="tab-content mt-0">
          <div class="tab-pane active" id="tab-1">
            <div class="row">
              {% for package in sub_packages %}
                {% if 'Yearly' in package.package_name or package.package_name == 'Free' %}
                <div class="col-sm-12 col-lg-4">
                  <div class="card overflow-hidden">
                    <div class="text-center pricing pricing1">
                      {% if package.package_price|add:0 < user_curr_tier.package_price|add:0 %}
                      <div class="card-category bg-gray">{{ package.package_name }}</div>
                      {% elif user_sub_type == package.package_name %}
                      <div class="card-category bg-dark">{{ package.package_name }}</div>
                      {% elif package.package_name|title == 'Free' %}
                      <div class="card-category bg-gray">{{ package.package_name }}</div>
                      {% else %}
                      <div class="card-category bg-primary">{{ package.package_name }}</div>
                      {% endif %}

                      {% if package.package_name|title != 'Free' %}
                      <p class="lead"><strong>R{{ package.package_price }} /</strong> month <span class="btn btn-xs rounded-pill bg-success text-light">PRO</span></p>
                      {% else %}
                      <p class="lead"> <span class="btn btn-xs rounded-pill bg-warning text-light">FREE</span></p>
                      {% endif %}
                      <div>
                        <small class="text-muted">Billed Annually</small>
                      </div>
                      <ul class="list-unstyled leading-loose">
                        {% with package.package_description|split:"</br>" as package_descr %}
                          {% for descr in package_descr %}
                          <li class="list-group-item">{{ descr }}</li>
                          {% endfor %}
                        {% endwith %}
                      </ul>
                      {% if package.package_price|add:0 < user_curr_tier.package_price|add:0 %}
                      <div class="text-center m-4">
                        <a disabled href="{% url 'pay-now' package.uniqueId %}" class="btn btn-dark btn-block">Change Package</a>
                      </div>
                      {% elif user_sub_type == package.package_name %}
                      <div class="text-center m-4">
                        <a disabled href="javascript:void(0)" class="btn btn-dark btn-block">Current Package</a>
                      </div>
                      {% elif package.package_name|title == 'Free' %}
                      <div class="text-center m-4">
                        <a disabled href="javascript:void(0)" class="btn btn-gray btn-block">Default Package</a>
                      </div>
                      {% else %}
                      <div class="text-center m-4">
                        <a href="{% url 'pay-now' package.uniqueId %}" class="btn btn-primary btn-block">Upgrade</a>
                      </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
                {% endif %}
          
              {% endfor %}
            </div>
          </div>

          <div class="tab-pane" id="tab-2">
            <div class="row">
              {% for package in sub_packages %}
                {% if not 'Yearly' in package.package_name or package.package_name == 'Free' %}
                <div class="col-sm-12 col-lg-4">
                  <div class="card overflow-hidden">
                    <div class="text-center pricing pricing1">
                      {% if package.package_price|add:0 < user_curr_tier.package_price|add:0 %}
                      <div class="card-category bg-gray">{{ package.package_name }}</div>
                      {% elif user_sub_type == package.package_name %}
                      <div class="card-category bg-dark">{{ package.package_name }}</div>
                      {% elif package.package_name|title == 'Free' %}
                      <div class="card-category bg-gray">{{ package.package_name }}</div>
                      {% else %}
                      <div class="card-category bg-primary">{{ package.package_name }}</div>
                      {% endif %}
                      {% if package.package_name|title != 'Free' %}
                      <p class="lead"><strong>R{{ package.package_price }} /</strong> month <span class="btn btn-xs rounded-pill bg-success text-light">PRO</span></p>
                      {% else %}
                      <p class="lead"> <span class="btn btn-xs rounded-pill bg-warning text-light">FREE</span></p>
                      {% endif %}
                      <div class="">
                        <small class="text-muted">Billed Monthly</small>
                      </div>
                      <ul class="list-unstyled leading-loose">
                        {% with package.package_description|split:"</br>" as package_descr %}
                          {% for descr in package_descr %}
                          <li class="list-group-item">{{ descr }}</li>
                          {% endfor %}
                        {% endwith %}
                      </ul>
                      
                      {% if package.package_price|add:0 < user_curr_tier.package_price|add:0 %}
                      <div class="text-center m-4">
                        <a disabled href="{% url 'pay-now' package.uniqueId %}" class="btn btn-dark btn-block">Change Package</a>
                      </div>
                      {% elif user_sub_type == package.package_name %}
                      <div class="text-center m-4">
                        <a disabled href="javascript:void(0)" class="btn btn-dark btn-block">Current Package</a>
                      </div>
                      {% elif package.package_name|title == 'Free' %}
                      <div class="text-center m-4">
                        <a disabled href="javascript:void(0)" class="btn btn-gray btn-block">Default Package</a>
                      </div>
                      {% else %}
                      <div class="text-center m-4">
                        {% if 'Yearly' in user_sub_type and not 'Team' in package.package_name|title %}
                        <a href="{% url 'pay-now' package.uniqueId %}" class="btn btn-primary btn-block">Downgrade</a>
                        {% else %}
                        <a href="{% url 'pay-now' package.uniqueId %}" class="btn btn-primary btn-block">Upgrade</a>
                        {% endif %}
                      </div>
                      {% endif %}
                    </div>
                  </div>
                </div>
                {% endif %}
          
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="col-md-12">
  <div class="card">
    <div class="card-body text-center">
      {% comment %} <h5><a href="https://writesome.ai/contact-us/">NEED MORE!</a></h5> {% endcomment %}
      <a href="https://writesome.ai/contact-us/"><img src="{% static 'dash/images/banners/need-more-connect.png' %}" style="max-width:700px!important;"  alt="NEED MORE!"></a>
    </div>
  </div>
</div>

{% endblock %}
