{% extends 'layout/dash.html' %}
{% load static %}


{% block css %}
		<!-- Data table css -->
		<link href="{% static 'dash/plugins/datatable/dataTables.bootstrap5.min.css' %}" rel="stylesheet" />
		<link href="{% static 'dash/plugins/datatable/jquery.dataTables.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block body %}


  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Saved Summaries</h3>
          <div class="card-options">
            <a href="{% url 'content-summarizer' %}" class="btn btn-primary btn-sm">Generate New</a>
          </div>
        </div>
        <div class="card-body">
          {% if saved_summaries|length > 0 %}
          <div class="table-responsive mb-0 ">
            <table id="blogMemoryTable" class="table table-hover table-striped table-bordered" style="width:100%">
              <thead>
                <tr>
                  <th style="width:50%">Summary Title</th>
                  <th>Tone</th>
                  <th>Datetime</th>
                  
                </tr>
              </thead>
              <tbody class="table-border-bottom-0">
              {% for summary in saved_summaries %}
                <tr>
                  <td >
                    <h6 class="mb-0"><a href="{% url 'content-summarizer-response' summary.uniqueId %}">{% if summary.summary_title|length > 0 %}
                      {{summary.summary_title}}
                      {% else %}
                      {{summary.slug}}
                      {% endif %}</a></h6>
                    
                  </td>
                  <td><small class="text-primary me-1">{{summary.tone_of_voice}}</small></td>
                  <td>{{summary.date_created|date:"Y-m-d"}}</td>
                  
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          {% else %}
          <div><h5>You no blogs to display here yet, <a href="{% url 'blog-topic' %}">start creating</a></h5></div>
          {% endif %}
        </div>
      </div>
    </div>

  </div>


{% endblock %}

{% block js %}
		<!-- Data tables -->
		<script src="{% static 'dash/plugins/datatable/jquery.dataTables.min.js' %}"></script>
		<script src="{% static 'dash/plugins/datatable/dataTables.bootstrap.js' %}"></script>
		<script src="{% static 'dash/js/datatable.js' %}"></script>
{% endblock %} 