{% extends 'layout/dash.html' %}
{% load static %}


{% block css %}
		<!-- Data table css -->
		<link href="{% static 'dash/plugins/datatable/dataTables.bootstrap5.min.css' %}" rel="stylesheet" />
		<link href="{% static 'dash/plugins/datatable/jquery.dataTables.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block body %}


  <div class="row">

    <div class="col-md-12">
      <div class="card">
        <div class="card-body items-gallery">
          <div class="items-blog-tab text-center">
            <h2 class=""> Subscription Transactions</h2>
            <h5 class="text-primary mb-3 ">Your current plan: <strong>{% if user_sub_type == 'Free' %} {{ 'Free' }} {% else %} {{ curr_user_sub_type }} {% endif %}</strong></h5>
            <div class="items-blog-tab-heading row" style"margin-bottom: 15px;!important">
              <div class="col-12 text-center">
                <button onclick="return window.location.href='{% url 'subscription-plans' %}'" class="btn btn-primary">Availabe Packages</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">My Transactions</h3>&nbsp;
        </div>
        <div class="card-body">
          {% if transactions|length > 0 %}
          <div class="table-responsive mb-0 ">
            <table class="table table-hover table-striped " style="width:100%">
              <thead>
                <tr>
                  <th >Package</th>
                  <th>Price</th>
                  <th>Status</th>
                  <th>Subscribed</th>
                  <th>Due</th>
                  
                </tr>
              </thead>
              <tbody class="table-border-bottom-0">
              {% for transact in transactions %}
                {% if 'Free' not in transact.package_name %}
                <tr>
                  <td>
                    {% if 'Yearly' in transact.package_name %}
                    {{transact.package_name}}
                    {% else %}
                    {{transact.package_name}} Monthly
                    {% endif %}
                    </td>
                  <td>R {{transact.package_price}}</td>
                  <td>
                    {% if transact.is_active %}
                    <span class="btn btn-xs btn-success">Active</span>
                    {% endif %}
                  </td>
                  <td>
                    {{transact.date_activated|date:"Y-m-d"}}
                  </td>
                  <td>
                    {{transact.date_expiry|date:"Y-m-d"}}
                  </td>
                </tr>
                {% endif %}
              {% endfor %}
              </tbody>
            </table>
          </div>
          {% else %}
          <div><h5>You have no transactions to display here yet, <a class="text-primary" href="{% url 'subscription-plans' %}">get started</a></h5></div>
          {% endif %}
        </div>
      </div>
    </div>

  </div>

    <!-- view receipt Modal -->
    {% comment %} <div class="modal fade" id="viewTransactionModal" tabindex="-1" role="dialog"  aria-hidden="true">
      <div class="modal-dialog" role="document">
  
        <div class="modal-content" id="client-modal-form">
          <div class="modal-header">
            <h5 class="modal-title" >Transaction</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-body">
            
              <div class="clearfix row mb-4">
                <div class="col">
                  <div class="float-start">
                    <h5 class="mb-0"><strong>Total Revenue</strong></h5>
                    <small class="text-muted">weekly profit</small>
                  </div>
                </div>
                <div class="col">
                  <div class="float-end">
                    <h4 class="font-weight-bold mb-0 mt-2 text-primary">$15300</h4>
                  </div>
                </div>
              </div>
              <div class="clearfix row mb-4">
                <div class="col">
                  <div class="float-start">
                    <h5 class="mb-0"><strong>Total Tax</strong></h5>
                    <small class="text-muted">weekly profit</small>
                  </div>
                </div>
                <div class="col">
                  <div class="float-end">
                    <h4 class="font-weight-bold mt-2 mb-0 text-success">$1625</h4>
                  </div>
                </div>
              </div>
              <div class="clearfix row mb-4">
                <div class="col">
                  <div class="float-start">
                    <h5 class="mb-0"><strong>Total Profits</strong></h5>
                    <small class="text-muted">weekly profit</small>
                  </div>
                </div>
                <div class="col">
                  <div class="float-end">
                    <h4 class="font-weight-bold mt-2 mb-0 text-warning">70%</h4>
                  </div>
                </div>
              </div>
              <div class="clearfix row mb-4">
                <div class="col">
                  <div class="float-start">
                    <h5 class="mb-0"><strong>Total Income</strong></h5>
                    <small class="text-muted">weekly profit</small>
                  </div>
                </div>
                <div class="col">
                  <div class="float-end">
                    <h4 class="font-weight-bold mt-2 mb-0 text-danger">50%</h4>
                  </div>
                </div>
              </div>
              <div class="clearfix row mb-0">
                <div class="col">
                  <div class="float-start">
                    <h5 class="mb-0"><strong>Total Loss</strong></h5>
                    <small class="text-muted">weekly profit</small>
                  </div>
                </div>
                <div class="col">
                  <div class="float-end">
                    <h4 class="font-weight-bold mt-2 mb-0 text-secondary">30%</h4>
                  </div>
                </div>
              </div>
            
          </div>
          
        </div>
      </div>
    </div> {% endcomment %}
{% endblock %}



{% block js %}
		<!-- Data tables -->
		<script src="{% static 'dash/plugins/datatable/jquery.dataTables.min.js' %}"></script>
		<script src="{% static 'dash/plugins/datatable/dataTables.bootstrap.js' %}"></script>
		<script src="{% static 'dash/js/datatable.js' %}"></script>
{% endblock %} 