{% extends 'layout/dash.html' %}
{% load static %}


{% block css %}
		<!-- Data table css -->
		<link href="{% static 'dash/plugins/datatable/dataTables.bootstrap5.min.css' %}" rel="stylesheet" />
		<link href="{% static 'dash/plugins/datatable/jquery.dataTables.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block body %}


  <div class="row">
    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">My Transactions</h3>&nbsp;
        </div>
        <div class="card-body">
          {% if transactions|length > 0 %}
          <div class="table-responsive mb-0 ">
            <table class="table table-hover table-striped " style="width:100%">
              <thead>
                <tr>
                  <th >Package</th>
                  <th>Price</th>
                  <th>Status</th>
                  <th>Date</th>
                  <th></th>
                  
                </tr>
              </thead>
              <tbody class="table-border-bottom-0">
              {% for transact in transactions %}
                <tr>
                  <td>{{transact.package_name}}</td>
                  <td>R {{transact.package_price}}</td>
                  <td>
                    {% if transact.is_active %}
                    <span class="btn btn-xs btn-outline-primary">Active</span>
                    {% endif %}
                  </td>
                  <td>
                    {{transact.date_activated|date:"Y-m-d"}} {{transact.date_activated|time}}
                  </td>
                  <td>
                    {% comment %} {% if not reg_device.uniqueId == user.profile.current_device %} {% endcomment %}
                    <a href="javascript:void(0);" onclick="window.location.href='{% url 'view-transact' transact.uniqueId %}'" class="text-center text-info" data-bs-toggle="tooltip" data-bs-placement="top" title="View"><i class="icon icon-eye"></i></a>
                    {% comment %} {% endif %} {% endcomment %}
                  </td>
                  
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          {% else %}
          <div><h5>You have no device to display here yet, <a href="{% url 'dashboard' %}">back to home</a></h5></div>
          {% endif %}
        </div>
      </div>
    </div>

  </div>


{% endblock %}

{% block js %}
		<!-- Data tables -->
		<script src="{% static 'dash/plugins/datatable/jquery.dataTables.min.js' %}"></script>
		<script src="{% static 'dash/plugins/datatable/dataTables.bootstrap.js' %}"></script>
		<script src="{% static 'dash/js/datatable.js' %}"></script>
{% endblock %} 