{% extends 'layout/dash.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block css %}
		<!-- Data table css -->
		<link href="{% static 'dash/plugins/datatable/dataTables.bootstrap5.min.css' %}" rel="stylesheet" />
		<link href="{% static 'dash/plugins/datatable/jquery.dataTables.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block body %}


  <div class="row">

    <div class="col-md-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">Current Roles</h3>
          <div class="card-options">
            <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#create_user_role">Create New Role</button>
          </div>
        </div>
        <div class="card-body">
          <div class="alert alert-danger" id="error-alert" hidden role="alert"></div>
          <div class="alert alert-success" id="success-alert" hidden role="alert"></div>
          {% if user_roles|length > 0 %}
          <div class="table-responsive mb-0 table-wrap">
            <table class="table table-hover no-footer worker-data table-bordered table-sm " id="normalTable" style="width:100%">
              <thead>
                <tr>
                  <th hidden></th>
                  <th><small >Role Name</small></th>
                  <th><small >Write</small></th>
                  <th><small >Edit</small></th>
                  <th><small >Remove</small></th>
                  <th><small >Invite User</small></th>
                  <th><small >Edit User</small></th>
                  <th><small >Remove User</small></th>
                  <th hidden></th>
                  <th hidden></th>
                  <th></th>
                </tr>
              </thead>
              <tbody class="">
              {% for user_role in user_roles %}
                <tr>
                  <td hidden>{{user_role.date_created|date:"Y-m-d"}} {{user_role.date_created|date:"H:i"}}</td>
                  <td>
                    <h6>{{user_role.role_name}}<h6>
                    <span class="text-muted">Level: {{user_role.permission.permission_name}}</span>
                  </td>
                  <td>
                    <label class="custom-control custom-checkbox">
                      <input disabled type="checkbox" class="custom-control-input" name="role-can-write" {% if user_role.can_write %} checked {% endif %}>
                      <span class="custom-control-label"></span>
                    </label>
                  </td>
                  <td>
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" name="role-can-edit" {% if user_role.can_edit %} checked {% endif %}>
                      <span class="custom-control-label"></span>
                    </label>
                  </td>
                  <td>
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" name="role-can-delete" {% if user_role.can_delete %} checked {% endif %}>
                      <span class="custom-control-label"></span>
                    </label>
                  </td>
                  <td>
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" name="role-can-create-team" {% if user_role.can_create_team %} checked {% endif %}>
                      <span class="custom-control-label"></span>
                    </label>
                  </td>
                  <td>
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" name="role-can-edit-team" {% if user_role.can_edit_team %} checked {% endif %}>
                      <span class="custom-control-label"></span>
                    </label>
                  </td>
                  <td>
                    <label class="custom-control custom-checkbox">
                      <input type="checkbox" class="custom-control-input" name="role-can-delete-team" {% if user_role.can_delete_team %} checked {% endif %}>
                      <span class="custom-control-label"></span>
                    </label>
                  </td>
                  <td hidden>{{user_role.uniqueId}}</td>
                  <td hidden>{{user_role.permission.uniqueId}}</td>
                  <td>
                    {% if user.profile.uniqueId == this_user_team.team_principal %}
                    <a href="javascript:void(0);" type="button" class="text-center"><i class="icon icon-pencil edit-role"></i></a>&nbsp;
                    {% if not user_role.role_name == 'Team Manager' %}
                    <a href="javascript:void(0);"  type="button" onclick="window.location.href='{% url 'delete-user-role' this_user_team.uniqueId user_role.uniqueId %}'" class="text-center"><i class="icon icon-trash"></i></a>
                    {% endif %}
                    {% endif %}
                  </td>
                  
                </tr>
              {% endfor %}
              </tbody>
            </table>
          </div>
          {% else %}
          <div><h5>You have no team to display here yet, <button type="button" class="btn btn-info" data-bs-toggle="modal" data-bs-target="#create_user_role">create new role</button></h5></div>
          {% endif %}
        </div>
      </div>

    </div>

  </div>

  <div class="modal fade" id="create_user_role" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <form method="POST">
        {% csrf_token %}
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="client-modal-title">Create New Role</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <h5 class="form-label" >Role details</h5>
            </div>
            <div class="form-group">
              <label for="permission" class="control-label mb-10">Permission Level <span class="text-danger">*</span></label>
              
                <select type="text" class="form-control select2" id="permission" name="permission">
                  {% for permission in permission_levels %}
                  <option value="{{permission.uniqueId}}" id="{{permission.uniqueId}}" >{{permission.permission_name}}</option>
                  {% endfor %}
                </select>
            </div>

            <div class="form-group">
              <label for="new-role-name" class="control-label mb-10">Role Name <span class="text-danger">*</span></label>
              <input type="text" class="form-control" name="role-name" id="new-role-name" maxlength="250" required>
            </div>

            <div class="form-group">
              <label for="abbreviation" class="control-label mb-10">Abbreviation <span class="text-danger">*</span></label>
              <input type="text" class="form-control" name="abbreviation" id="abbreviation" maxlength="250" required>
            </div>

            <div class="form-group">
              <h5 class="mb-4 font-weight-semibold" >Content Permission</h5>
            </div>

            <div class="form-group">
              <div class="custom-controls-stacked">
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name="role-can-write" checked >
                  <span class="custom-control-label">Can Write Content</span>
                </label>
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name="role-can-edit" >
                  <span class="custom-control-label">Can Edit Content</span>
                </label>
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name="role-can-delete" >
                  <span class="custom-control-label">Can Remove Content</span>
                </label>

              </div>
            </div>

            <div class="form-group">
              <h5 class="mb-4 font-weight-semibold" >Settings Permission</h5>
            </div>

            <div class="form-group">
              <div class="custom-controls-stacked">
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name="can-invite" >
                  <span class="custom-control-label">Can Invite User</span>
                </label>
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name="can-edit-team" >
                  <span class="custom-control-label">Can Edit User</span>
                </label>
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" name="can-delete-team" >
                  <span class="custom-control-label">Can Delete User</span>
                </label>

              </div>
            </div>

            <div class="form-group mt-5">
              <blockquote>
                <p><span class="text-danger">*</span><i> Denotes required field.</i></p>
              </blockquote>
            </div>

            <div class="form-group row">
              <div class=" col-6"></div>
              <div class=" col-6 pull-right">
                <button type="submit" class="btn btn-primary pull-right">Save</button>
              </div>
            </div>

          </div>
          
        </div>
      </form>
    </div>
  </div>

  <div class="modal fade" id="edit_user_role" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <form id="edit-role-form" method="POST">
        {% csrf_token %}
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="client-modal-title">Edit New Role</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
            </button>
          </div>
          <div class="modal-body">

            <div class="alert alert-danger" id="edit-error-alert" hidden role="alert"></div>
            <div class="alert alert-success" id="edit-success-alert" hidden role="alert"></div>

            <div class="form-group">
              <h5 class="form-label" >Role details</h5>
            </div>
            <div class="form-group">
              <label for="role-permission" class="control-label mb-10">Permission Level <span class="text-danger">*</span></label>
              
              <select type="text" class="form-control " id="role-permission" name="role-permission">
                {% for permission in permission_levels %}
                <option value="{{permission.uniqueId}}" >{{permission.permission_name}}</option>
                {% endfor %}
              </select>
            </div>

            <div class="form-group">
              <label for="role-name" class="control-label mb-10">Role Name <span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="role-name" maxlength="250" required>
            </div>

            <div class="form-group">
              <label for="abbreviation" class="control-label mb-10">Abbreviation <span class="text-danger">*</span></label>
              <input type="text" class="form-control" id="role-abbr" maxlength="250" required>
            </div>

            <div class="form-group">
              <h5 class="mb-4 font-weight-semibold" >Content Permission</h5>
            </div>

            <div class="form-group">
              <div class="custom-controls-stacked">
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="role-can-write" checked >
                  <span class="custom-control-label">Can Write Content</span>
                </label>
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="role-can-edit" >
                  <span class="custom-control-label">Can Edit Content</span>
                </label>
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="role-can-delete" >
                  <span class="custom-control-label">Can Remove Content</span>
                </label>

              </div>
            </div>

            <div class="form-group">
              <h5 class="mb-4 font-weight-semibold" >Settings Permission</h5>
            </div>

            <div class="form-group">
              <div class="custom-controls-stacked">
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="can-invite" >
                  <span class="custom-control-label">Can Invite User</span>
                </label>
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="can-edit-team" >
                  <span class="custom-control-label">Can Edit User</span>
                </label>
                <label class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="can-delete-team" >
                  <span class="custom-control-label">Can Delete User</span>
                </label>

              </div>
            </div>

            <div class="form-group mt-5">
              <blockquote>
                <p><span class="text-danger">*</span><i> Denotes required field.</i></p>
              </blockquote>
            </div>

            <div class="form-group row">
              <div class=" col-6"></div>
              <div class=" col-6 pull-right">
                <input type="checkbox" class="custom-control-input" id="edit-role-id" >
                <button type="submit" id="edit-role-btn" class="btn btn-primary pull-right">Save</button>
              </div>
            </div>

          </div>
          
        </div>
      </form>
    </div>
  </div>

{% endblock %}

{% block js %}
		<!-- Data tables -->
		<script src="{% static 'dash/plugins/datatable/jquery.dataTables.min.js' %}"></script>
		<script src="{% static 'dash/plugins/datatable/dataTables.bootstrap.js' %}"></script>
		<script src="{% static 'dash/js/datatable.js' %}"></script>
		<script src="{% static 'dash/js/pages/user-roles.js' %}"></script>
{% endblock %} 