{% extends 'layout/dash.html' %}
{% load static %}

{% block css %}
    <!--INTERNAL Summernote css -->
    <link href="{% static 'dash/plugins/summer-note/summernote.css' %}" rel="stylesheet" />
{% endblock %}

{% block body %}
            <!-- Content -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="card-header d-flex justify-content-between align-items-center">
                            <h4 class="mb-0">AI Generated Response</h4>
                            <div class="btn-group float-end">
                                <button class="btn btn-outline-primary">Copy Text</button>
                                <button class="btn btn-primary">Download</button>
                            </div>
                        </div>
                        <div class="card-body">
                            <form action="#" method="POST">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-lg-12 ">
                                        <div class="mb-3">
                                            <div class="d-flex align-items-center justify-content-between"><label for="title" class=" ">Title</label> <span class="title_counter text-muted">0/250</span></div>
                                            <input type="text" class="form-control" id="title" name="title" value="{{blog.title}}"  maxlength="250" required/>
                                        </div>
                                        <div class="mb-3">
                                            <div class="d-flex align-items-center justify-content-between"><label for="keywords" class=" ">Keywords</label> <span class="keywords_counter text-muted">0/250</span></div>
                                            <input type="text" class="form-control" id="keywords" name="keywords" value="{{blog.keywords}}" maxlength="250" />
                                        </div>
                                        <div class="form-group">
                                            <h5 class="">Generated Blog</h5>
                                            {% comment %} <div class="demo-inline-spacing mb-10">
                                                <h6>Keywords: <span class="badge bg-primary">{{blog.keywords}}</span></h6>
                                                <br>
                                            </div> {% endcomment %}
                                            <div class="card shadow-none border border-secondary mb-3 ">
                                                <div class="card-body ideas-text">
                                                    <textarea class="form-control" id="generated-blog" name="generated-blog">
                                                        {% for section in blog_sects %}
                                                            <h5>{{section.title}}</h5>
                                                            <p>{{section.body|safe}}</p>
                                                        {% endfor %}
                                                    </textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <button class="btn btn-primary d-grid w-100 btn-generate" id="btn-generate" type="submit">Save Edit</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                            <hr>
                            <p class="mt-5 text-primary"><i>AI is the source of the content; your responses and generated text may be retained for assessment..</i></p>

                        </div>
                    </div>
                </div>
            </div>

            <!-- / Content -->
{% endblock %}

{% block js %}
    <!-- INTERNAL SUMMERNOTE Editor JS -->
    <script src="{% static 'dash/plugins/summer-note/summernote1.js' %}"></script>
    <script src="{% static 'dash/js/summernote.js' %}"></script>
{% endblock %}