{% load static %}

{{ '<' }}{{ '!DOCTYPE html>' }}

<html lang="en" >
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<meta content="drycko[at]ukuyila.com" name="author">
	<meta content="writesome.ai is a content generating assistant powered by the highly advanced GPT-4 system. Start creating content with our free version today." name="description">

	<title>Writesome - Ai Content Generating Assistant | Authentication</title>
	<link rel="canonical" href="{{request.path}}" />
	<link rel="home" href="{% url 'home' %}" />

	<link rel="icon" href="{% static 'dash/img/favicon/favicon.ico' %}" type="image/gif" sizes="16x16">
	<link rel="icon" href="{% static 'dash/img/favicon/apple-touch-icon.png' %}" type="image/png" sizes="18x18">
	<link rel="icon" href="{% static 'dash/img/favicon/apple-touch-icon.png' %}" type="image/png" sizes="20x20">

	<!--Create schema mark-up -->
	{% include 'dashboard/partials/structured_data.html' %}
	<!-- CSS only -->
	<link rel="stylesheet" href="{% static 'auth/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'auth/css/bootstrap-icons.css' %}">
	<link rel="stylesheet" href="{% static 'auth/css/nice-select.css' %}">
	<link rel="stylesheet" href="{% static 'auth/css/normalize.css' %}">
	<link rel="stylesheet" href="{% static 'auth/style.css' %}">
	{% block style %}
	{% endblock %}
	<style type="text/css">
		.login-register-section h2 {
			font-family: 'Roboto', arial!important;
		}
		
	</style>
	<!--Start of Tawk.to Script-->
	<script type="text/javascript">
		var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
		(function(){
		var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
		s1.async=true;
		s1.src='https://embed.tawk.to/64e34e20cc26a871b03077f2/1h8buicsr';
		s1.charset='UTF-8';
		s1.setAttribute('crossorigin','*');
		s0.parentNode.insertBefore(s1,s0);
		})();
	</script>
	<!--End of Tawk.to Script-->
</head>
<body>
	<main class="bforum-main">
		<div class="container-fluid g-0">
			<div class="row min-vh-100 g-0">
        {% block body %}
        {% endblock %}

			</div>
		</div>
	</main>

	<!-- JS -->
	<script src="{% static 'auth/js/jquery-3.6.1.min.js' %}"></script>
	<script src="{% static 'auth/js/popper.min.js' %}"></script>
	<script src="{% static 'auth/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'auth/js/nice-select.js' %}"></script>
	<script src="{% static 'auth/js/jquery.validate.min.js' %}"></script>
	<script src="{% static 'auth/js/main.js' %}"></script>

  {% block js %}
	{% endblock %}
</body>
</html>