{% load static %}
{{ '<' }}{{ '!DOCTYPE html>' }}

<html lang="en" dir="ltr">
  <head>
    <!-- Meta data -->
	<meta charset="UTF-8">
	<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta content="" name="description">
	<meta content="drycko at ukuyila.com" name="author">

	<!-- Favicon -->
	<link rel="icon" href="{% static 'dash/img/favicon/favicon.ico' %}" type="image/x-icon"/>
	<link rel="shortcut icon" type="image/x-icon" href="{% static 'dash/img/favicon/apple-touch-icon.png' %}" />

    <!-- Title -->
	<title>Authentication | writesome.AI</title>
	<link rel="stylesheet" href="{% static 'dash/fonts/fonts/font-awesome.min.css' %}">
  <link rel="stylesheet" href="{% static 'dash/fonts/boxicons/boxicons.css' %}" />

	<!-- Bootstrap Css -->
	<link id="style" href="{% static 'dash/plugins/bootstrap-5/css/bootstrap.min.css' %}" rel="stylesheet" />

	<!-- Sidemenu Css -->
	<link href="{% static 'dash/css/sidemenu.css' %}" rel="stylesheet" />

	<!-- Dashboard css -->
	<link href="{% static 'dash/css/style.css' %}" rel="stylesheet" />
	<link href="{% static 'dash/css/admin-custom.css' %}" rel="stylesheet" />

	<!-- c3.js Charts Plugin -->
	<link href="{% static 'dash/plugins/charts-c3/c3-chart.css' %}" rel="stylesheet" />

	<!-- p-scroll bar css-->
	<link href="{% static 'dash/plugins/pscrollbar/pscrollbar.css' %}" rel="stylesheet" />

	<!---Font icons-->
	<link href="{% static 'dash/css/icons.css' %}" rel="stylesheet"/>

</head>
<body class="construction-image h-100">

	<!--Loader-->
	<div id="global-loader">
		<img src="{% static 'dash/images/loader.svg' %}" class="loader-img" alt="">
	</div>

	<!--Page-->
	<div class="page h-200 ">
		<div class="page-content z-index-10">
			<div class="container">
				<div class="row">
					<div class="col-xl-4 col-md-6 col-sm-12 d-block mx-auto">
						<div class="card mb-0">


							<div class="card-header">
								<a href="https://writesome.ai" class="app-brand-link gap-2">
                  <span class="app-brand-logo demo">
                    <img class="img-fluid" style="height:60px;" src="{% static 'dash/img/logo/writesome-ai-logo.png' %}">
                  </span>
                  
                </a>
							</div>

              {% for message in messages %}
              <div class="alert alert-{{ message.tags }}" role="alert">
                <strong>{{ message }}</strong>
              </div>
              {% endfor %}

              {% block body %}

              {% endblock %}


						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Dashboard js -->
	<script src="{% static 'dash/js/vendors/jquery-3.6.0.min.js' %}"></script>
	<script src="{% static 'dash/plugins/bootstrap-5/popper.min.js' %}"></script>
	<script src="{% static 'dash/plugins/bootstrap-5/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'dash/js/vendors/jquery.sparkline.min.js' %}"></script>
	<script src="{% static 'dash/js/vendors/selectize.min.js' %}"></script>
	<script src="{% static 'dash/js/vendors/jquery.tablesorter.min.js' %}"></script>
	<script src="{% static 'dash/js/vendors/circle-progress.min.js' %}"></script>
	<script src="{% static 'dash/plugins/rating/jquery.rating-stars.js' %}"></script>
	<!-- p-scroll bar Js-->
	<script src="{% static 'dash/plugins/pscrollbar/pscrollbar.js' %}"></script>

	<!-- Fullside-menu Js-->
	<script src="{% static 'dash/plugins/toggle-sidebar/sidemenu.js' %}"></script>

	<!--Counters -->
	<script src="{% static 'dash/plugins/counters/counterup.min.js' %}"></script>
	<script src="{% static 'dash/plugins/counters/waypoints.min.js' %}"></script>

	<!-- ThemeColors js-->
	<script src="{% static 'dash/js/themeColors.js' %}"></script>

	<!-- Custom Js-->
	<script src="{% static 'dash/js/admin-custom.js' %}"></script>

	<!-- Custom-switcher Js-->
	<script src="{% static 'dash/js/custom-switcher.js' %}"></script>

</body>
</html>